<div class="dashboard">
  <div data-inner-view="dashboard/balance" class="balance"></div>
  <div data-inner-view="dashboard/latest_transaction" class="latest_transaction"></div>
  <div data-inner-view="dashboard/quick_pay" class="quick_pay"></div>
</div>

