<div class="container">
   <ul class="nav pull-right">
    <li{{#if dashboard}} class="active"{{/if}}><a href="#/">Dashboard</a></li>
    <li{{#if transactions}} class="active"{{/if}}><a href="#/transactions">Transactions</a></li>
  </ul>
  <a class="logo" href="#/">Savedo</a>
</div>

