<table class="table">
  <thead>
    <tr>
      <th class="payee" colspan="2">Payee &amp; amount</th>
      <th class="iban">IBAN</th>
      <th class="bank">Bank</th>
      <th class="date">Date</th>
    </tr>
  </thead>
  <tbody class="yield"></tbody>
</table>

