$white:               #FFFFFF !default;
$black:               #000000 !default;
$gray:                #868686 !default;
$lightGray:           #f3f7fb !default;
$orange:              #f16531 !default;
$lightBlue:           #ebf1f8 !default;

$blue:                #0054A5 !default;

$inputColor:          #777777 !default;
$modalBorder:         #dddddd !default;
$errorBorder:         #ff0000 !default;
